<%= content_for :page_header do %>
  <%= t("forem.post.new") %>
<% end %>
<p id='forum_topic_links'>
  <%= link_to t('forem.topic.links.back_to_topics'), forem.forum_path(@topic.forum), class: "btn" %>
</p>

<% if @reply_to_post %>
  <div id='posts'>
    <%= render 'reply_to_post', :post => @reply_to_post %>
  </div>
<% else %>
  <h3 class='topic_subject'>
    <%= @topic.subject %>
  </h3>
<% end %>

<%= simple_form_for [forem, @topic, @post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit t("forem.post.buttons.reply"), class: "btn" %>
<% end %>
