<%= content_for :page_header do %>
  <%= link_to forem_emojify(@forum.title), [forem, @forum] %>
<% end %>

<div id='forum'>
  <div class="row">
     <div class="span12">
        <%= render :partial => 'forem/forums/head', :locals => { :forum => @forum } %>

        <%= forem_pages_widget(@topics) %>

        <table class='topics subdued table table-striped' cellspacing='0' width="100%">
          <thead>
            <tr>
              <th class="status icon">#</td>
              <th class="title">标题</td>
              <th class="starter">发起人</td>
              <th class="last-update">最近回复</td>
              <th class="posts-count">参与</td>
              <th class="views-count">查看</td>
            </tr>
          </thead>
          <tbody>
            <% if @topics.empty? %>
              <tr><td colspan='6' align='center'><%= t('forem.topic.none') %></td></tr>
            <% else %>
              <%= render @topics %>
            <% end %>
          </tbody>
        </table>

        <%= forem_pages_widget(@topics) %>
     </div>
  </div>
</div>
