<%= render :partial => 'forem/forums/head', :locals => { :forum => @forum } %>

<%= forem_pages_widget(@topics) %>

<table class='topics subdued' cellspacing='0' width="100%>
  <tbody>
    <% if @topics.empty? %>
      <tr><td colspan='5' align='center'><%= t('forem.topic.none') %></td></tr>
    <% end %>
    <%= render @topics %>
  </tbody>
</table>

<%= forem_pages_widget(@topics) %>
